+b.modal.js-modal-1
  +e.overlay.js-modal-overlay
  +e.content
    +e.BUTTON.btn-close.btn-reset.js-modal-close
    +e.H3.title Напишите нам
    +e.FORM.form
      +e.UL.list.list-reset
        +e.LI.item
          +e.INPUT.input.input-text(id="modal-name" name="modal-name" type="text" placeholder="Как Вас зовут?")
          +e.LABEL.label.label-text(for="modal-name")
        +e.LI.item
          +e.INPUT.input.input-text(id="modal-phone" name="modal-phone" type="tel" placeholder="Ваш телефон")
          +e.LABEL.label.label-text(for="modal-phone")
        +e.LI.item
          +e.TEXTAREA.input.input-text(id="modal-comment" name="modal-comment" placeholder="Комментарий")
          +e.LABEL.label.label-text(for="modal-comment")

        +e.LI.item
          +e.TEXTAREA.input.input-text(id="modal-comment" name="modal-comment" placeholder="Комментарий")
          +e.LABEL.label.label-text(for="modal-comment")
        +e.LI.item
          +e.TEXTAREA.input.input-text(id="modal-comment" name="modal-comment" placeholder="Комментарий")
          +e.LABEL.label.label-text(for="modal-comment")
        +e.LI.item
          +e.TEXTAREA.input.input-text(id="modal-comment" name="modal-comment" placeholder="Комментарий")
          +e.LABEL.label.label-text(for="modal-comment")
        +e.LI.item
          +e.TEXTAREA.input.input-text(id="modal-comment" name="modal-comment" placeholder="Комментарий")
          +e.LABEL.label.label-text(for="modal-comment")




      +e.capcha
        img(src="img/content/capcha.jpg")
      +e.offer Отправляя данную форму подтверждаю, что ознакомлен с
        |
        a(href="") политикой конфиденциальности
        |
        |и даю согласие на
        |
        a(href="") обработку персональных данных
        |
      +e.BUTTON.btn.btn.btn-reset.js-modal-submit Отправить
