+b.SECTION.portfolio.container
  +e.UL.list.list-reset
    +e.LI.item
      +e.left
        +e.white-btn.btn(href="portfolio.html") Показать больше
        +e.link(href="portfolio-inner.html")
          img(src="img/content/portfolio-content-1.jpg")
      +e.right
        +e.link(href="portfolio-inner.html")
          img(src="img/content/portfolio-content-2.jpg")
        +e.link(href="portfolio-inner.html")
          img(src="img/content/portfolio-content-3.jpg")
        +e.link(href="portfolio-inner.html")
          img(src="img/content/portfolio-content-4.jpg")
