+b.SECTION.home-sales.container
  +e.UL.list.list-reset
    +e.LI.item
      +e.link(href="#")
        img(src="img/content/home-photo-1.jpg")
    +e.LI.item
      +e.link(href="#")
        img(src="img/content/home-photo-2.jpg")
    +e.LI.item
      +e.link(href="#")
        img(src="img/content/home-photo-3.jpg")
    +e.LI.item
      +e.link(href="#")
        img(src="img/content/home-photo-4.jpg")
