+b.SECTION.home-sales.container
  .swiper-container(data-mobile="false")
    +e.UL.list.list-reset.swiper-wrapper
      +e.LI.item.swiper-slide
        +e.link(href="#")
          img(src="img/content/home-photo-1.jpg")
      +e.LI.item.swiper-slide
        +e.link(href="#")
          img(src="img/content/home-photo-2.jpg")
      +e.LI.item.swiper-slide
        +e.link(href="#")
          img(src="img/content/home-photo-3.jpg")
      +e.LI.item.swiper-slide
        +e.link(href="#")
          img(src="img/content/home-photo-4.jpg")
