+b.SECTION.home-advantages.container
  +e.H2.title.visually-hidden Наши преимущества
  +e.inner
    +e.before
      span До
      b ArmorLine
    +e.versus VS
    +e.after
      span После
      b ArmorLine
