+b.SECTION.home-advantages.container
  +e.H2.title.visually-hidden Наши преимущества
  +e.background
    +e.bg-left
      img(src="img/content/bg-home-advantages-1.jpg")
    +e.bg-right
      img(src="img/content/bg-home-advantages-2.jpg")
  +e.inner
    +e.before
      span До
      b ArmorLine
    +e.versus VS
    +e.after
      span После
      b ArmorLine
