+b.SECTION.home-bn3r
  +e.BLOCKQUOTE.blockquote
    +e.P.p Всё можно
      b  сделать лучше,
      |  чем было сделано до сих пор!
    +e.CITE.cite Генри Форд
  +e.btn.btn.btn-reset.js-bn3r-modal-opener-1 Сделать заказ
  +e.video
    video(loop muted autoplay playsinline webkit-playsinline poster="img/content/bg-home-banner.jpg")
      source(src="video/007_3_2.mp4" type="video/mp4")
      source(src="video/007_3_2.mov" type="video/mov")
      source(src="video/007_3_2.webm" type="video/webm")
