mixin item(src)
  +e.LI.item
    +e.link.js-portfolio-modal-opener(href="#")
      img(src= src)

mixin slider-item(src)
  +e.LI.gallery-top-item.portfolio-inner__modal-item.swiper-slide
    img(src= src)

+b.portfolio-inner
  +b.bread
    +e.UL.list.list-reset
      +e.LI.item
        +e.link(href="index.html") Главная
      +e.LI.item
        +e.link(href="portfolio.html") Примеры работ
      +e.LI.item
        +e.SPAN.link Toyota Tundra 2019
  +b.H2.page-title Toyota Tundra 2019

  +e.UL.list.list-reset
    +item("img/content/portfolio-inner-content-1.jpg")
    +item("img/content/portfolio-inner-content-2.jpg")
    +item("img/content/portfolio-inner-content-3.jpg")
    +item("img/content/portfolio-inner-content-4.jpg")
    +item("img/content/portfolio-inner-content-5.jpg")
    +item("img/content/portfolio-inner-content-2.jpg")
    +item("img/content/portfolio-inner-content-3.jpg")

  +b.portfolio-modal.portfolio-inner__modal.js-portfolio-modal
    +e.overlay.js-modal-overlay
    +e.btns
      .swiper-button-prev
      .swiper-button-next
    +e.content
      +e.gallery-top.js-gallery-top.swiper-container
        +e.UL.gallery-top-list.list-reset.swiper-wrapper
          +slider-item("img/content/portfolio-inner-content-1.jpg")
          +slider-item("img/content/portfolio-inner-content-2.jpg")
          +slider-item("img/content/portfolio-inner-content-3.jpg")
          +slider-item("img/content/portfolio-inner-content-4.jpg")
          +slider-item("img/content/portfolio-inner-content-5.jpg")
          +slider-item("img/content/portfolio-inner-content-2.jpg")
          +slider-item("img/content/portfolio-inner-content-3.jpg")
      //- +e.gallery-thumbs.js-gallery-thumbs.swiper-container
      //-   +e.UL.gallery-thumbs-list-reset.swiper-wrapper
      //-     +slider-item("img/content/portfolio-inner-content-1.jpg")
      //-     +slider-item("img/content/portfolio-inner-content-2.jpg")
      //-     +slider-item("img/content/portfolio-inner-content-3.jpg")
      //-     +slider-item("img/content/portfolio-inner-content-4.jpg")
      //-     +slider-item("img/content/portfolio-inner-content-5.jpg")
      //-     +slider-item("img/content/portfolio-inner-content-2.jpg")
      //-     +slider-item("img/content/portfolio-inner-content-3.jpg")
      +e.BUTTON.btn-close.btn-reset.js-modal-close
