+b.portfolio
  +e.bn3r
    img(src="img/content/portfolio-baner.jpg")
  +b.bread
    +e.UL.list.list-reset
      +e.LI.item
        +e.link(href="#") Главная
      +e.LI.item
        +e.SPAN.link Примеры работ
  +b.H2.page-title Примеры работ

  +e.UL.list.list-reset
    +e.LI.item
      +e.left
        +e.H3.subtitle Toyota Tundra
          +e.year 2019
        +e.link(href="portfolio-inner.html")
          img(src="img/content/portfolio-content-1.jpg")
      +e.right
        +e.link(href="portfolio-inner.html")
          img(src="img/content/portfolio-content-2.jpg")
        +e.link(href="portfolio-inner.html")
          img(src="img/content/portfolio-content-3.jpg")
        +e.link(href="portfolio-inner.html")
          img(src="img/content/portfolio-content-4.jpg")

    +e.LI.item
      +e.left
        +e.H3.subtitle Jeep
          +e.year 2018
        +e.link(href="portfolio-inner.html")
          img(src="img/content/portfolio-content-1.jpg")
      +e.right
        +e.link(href="portfolio-inner.html")
          img(src="img/content/portfolio-content-2.jpg")
        +e.link(href="portfolio-inner.html")
          img(src="img/content/portfolio-content-3.jpg")
        +e.link(href="portfolio-inner.html")
          img(src="img/content/portfolio-content-4.jpg")

  +e.btn.btn(href="#") Показать больше

  +e.bottom
    +b.H2.page-title Заголовок
    +e.desc
      p И нет сомнений, что некоторые особенности внутренней политики, вне зависимости от их уровня, должны быть функционально разнесены на независимые элементы. Ключевые особенности структуры проекта подвергнуты целой серии независимых исследований.
      p В целом, конечно, сложившаяся структура организации в значительной степени обусловливает важность модели развития.И нет сомнений, что некоторые особенности внутренней политики, вне зависимости от их уровня, должны быть функционально разнесены на независимые элементы. Ключевые особенности структуры проекта подвергнуты целой серии независимых исследованийИ нет сомнений, что некоторые особенности
