mixin social-item(src, alt)
  +e.LI.social-item
    +e.social-link(href="#")
      img(src= src alt= alt)

+b.footer
  +e.inner.container
    +e.left
      +e.logo(href="index.html")
        img(src="img/content/logo-footer.png")
      +e.contacts
        p Екатеринбург, ул.&nbsp;Маневровая&nbsp;123
        p
          a(href="tel: +73435677890") +7 343 567 78 90
      +e.BUTTON.btn.btn.btn-reset Напишите нам
    +e.center
      +e.UL.social-list.list-reset
        +social-item("img/content/icon-fb-red.png", "facebook")
        +social-item("img/content/icon-insta-red.png", "instagram")
        +social-item("img/content/icon-vk-red.png", "vk")
        +social-item("img/content/icon-youtube-red.png", "youtube")
    +e.right
      +e.left-links
        +e.link(href="index.html") Главная
        +e.link(href="about.html") О компании
        +e.link(href="product.html") Каталог
        +e.link(href="portfolio.html") Примеры работ
        +e.link(href="#") Акции и скидки
        +e.link(href="#") Доставка и оплата
        +e.link(href="blog.html") Блог
        +e.link(href="#") Контакты

      +e.right-links
        +e.link(href="#") Пользовательское соглашение
        +e.link(href="#") Политика конфиденциальности
        +e.link--offer(href="offer.html") Публичная оферта
        +e.link(href="#") Все права защищены © 2020
        +e.link(href="#") Разработка и продвиение InMar
