+b.order
  +b.bread
    +e.UL.list.list-reset
      +e.LI.item
        +e.link(href="#") Главная
      +e.LI.item
        +e.SPAN.link Оформление заказа
  +b.H2.page-title Оформление заказа

  +e.H3.title Шаг 1. Контактные данные
  +e.UL.order-toggle-list.list-reset
    +e.LI.order-toggle-item
      +e.INPUT.order-radio-input.input-radio.visually-hidden.js-order-toggle-person(name="order-toggle" id="order-toggle-1" type="radio" checked)
      +e.LABEL.order-radio-label.label-radio(for="order-toggle-1") Физ. лицо
    +e.LI.order-toggle-item
      +e.INPUT.order-radio-input.input-radio.visually-hidden.js-order-toggle-company(name="order-toggle" id="order-toggle-2" type="radio")
      +e.LABEL.order-radio-label.label-radio(for="order-toggle-2") Юр. лицо

  +e.FORM.form.js-order-form-person.active
    +e.UL.form-list.list-reset
      +e.LI.form-item
        +e.INPUT.input.input-text(id="order-person-name" name="order-person-name" type="text" placeholder="Как Вас зовут?")
        +e.LABEL.label.label-text(for="order-person-name")
      +e.LI.form-item
        +e.INPUT.input.input-text(id="order-person-phone" name="order-person-phone" type="tel" placeholder="Ваш телефон")
        +e.LABEL.label.label-text(for="order-person-phone" )
      +e.LI.form-item
        +e.INPUT.input.input-text(id="order-person-mail" name="order-person-mail" type="email" placeholder="E-mail")
        +e.LABEL.label.label-text(for="order-person-mail")
      +e.LI.form-item--price
        +e.INPUT.input--price(name="order-person-price" value="21120 Р" disabled)

    +e.UL.payment-method-list.list-reset
      +e.LI.payment-method-item
        +e.INPUT.payment-method-input.visually-hidden(id="person-payment-method-1" name="person-payment-method" type="radio" value="person-payment-method-cash" checked)
        +e.LABEL.payment-method-label--cash(for="person-payment-method-1") Наличными при получении
      +e.LI.payment-method-item
        +e.INPUT.payment-method-input.visually-hidden(id="person-payment-method-2" name="person-payment-method" type="radio" value="person-payment-method-card")
        +e.LABEL.payment-method-label--card(for="person-payment-method-2") Картой при получении
      +e.LI.payment-method-item
        +e.INPUT.payment-method-input.visually-hidden(id="person-payment-method-3" name="person-payment-method" type="radio" value="person-payment-method-yandex-money")
        +e.LABEL.payment-method-label--yandex-money(for="person-payment-method-3") Yandex деньги
    +e.BUTTON.order-btn.btn.btn-reset(type="submit") Оформить заказ

  +e.FORM.form.js-order-form-company
    +e.UL.form-list.list-reset
      +e.LI.form-item
        +e.INPUT.input.input-text(id="order-company-name" name="order-company-name" type="text" placeholder="Название компании (ООО/ИП итд)")
        +e.LABEL.label.label-text(for="order-company-name")
      +e.LI.form-item
        +e.INPUT.input.input-text(id="order-company-inn" name="order-company-inn" type="number" placeholder="ИНН")
        +e.LABEL.label.label-text(for="order-company-inn")
      +e.LI.form-item
        +e.INPUT.input.input-text(id="order-company-phone" name="order-company-phone" type="tel" placeholder="Контактный телефон")
        +e.LABEL.label.label-text(for="order-company-phone")
      +e.LI.form-item
        +e.INPUT.input.input-text(id="order-company-mail" type="email" placeholder="Контактный E-mail")
        +e.LABEL.label.label-text(for="order-company-mail")
      +e.LI.form-item--price
        +e.INPUT.input--price(name="order-company-price" value="21120 Р" disabled)
      +e.LI.form-item--file
        +e.INPUT.input-file.input-file.visually-hidden(id="order-company-file" name="order-company-file" type="file")
        +e.LABEL.label-file.label-file(for="order-company-file") Прикрепить карточку предприятия
    +e.BUTTON.order-btn.btn.btn-reset(type="submit") Оформить заказ
