+b.order
  +b.bread
    +e.UL.list.list-reset
      +e.LI.item
        +e.link(href="#") Главная
      +e.LI.item
        +e.SPAN.link Оформление заказа
  +b.H2.page-title Оформление заказа

  +e.H3.title Спасибо!
  +e.text
    p Номер Вашего заказа
      |
      |
      a(href="#") №18922
    p Для оплаты заказа с Вами свяжется наш менеджер.
