extends ../pug/html.pug

block body
  body
    header
      include ../blocks/top-menu/block.pug
    main.main
      .main__inner.container
        aside.main__aside
          include ../blocks/aside-nav/block.pug
        .main__content
          include ../blocks/portfolio/block.pug

    footer
      include ../blocks/footer/block.pug
    include ../pug/scripts.pug
