+b.portfolio-inner
  +b.bread
    +e.UL.list.list-reset
      +e.LI.item
        +e.link(href="index.html") Главная
      +e.LI.item
        +e.link(href="portfolio.html") Примеры работ
      +e.LI.item
        +e.SPAN.link Toyota Tundra 2019
  +b.H2.page-title Toyota Tundra 2019

  +e.UL.list.list-reset
    +e.LI.item
      img(src="img/content/portfolio-inner-content-1.jpg")
    +e.LI.item
      img(src="img/content/portfolio-inner-content-2.jpg")
    +e.LI.item
      img(src="img/content/portfolio-inner-content-3.jpg")
    +e.LI.item
      img(src="img/content/portfolio-inner-content-4.jpg")
    +e.LI.item
      img(src="img/content/portfolio-inner-content-5.jpg")
    +e.LI.item
      img(src="img/content/portfolio-inner-content-2.jpg")
    +e.LI.item
      img(src="img/content/portfolio-inner-content-3.jpg")
