+b.SECTION.home-catalog
  +e.inner.container
    +e.H2.title Типы покрытий
    +e.wrapper
      +e.img
        img(src="img/content/material.png")
      +e.left
        +e.H3.subtitle--left Полиуретан
        +e.UL.list--left.list-reset
          +e.LI.item--left
            +e.icon
              img(src="img/content/icon-shield1.png")
            +e.desc--left(href="product.html")
              span ArmorLine
              b Start
          +e.LI.item--left
            +e.icon
              img(src="img/content/icon-shield2.png")
            +e.desc--left(href="product.html")
              span ArmorLine
              b Premium
          +e.LI.item--left
            +e.icon
              img(src="img/content/icon-shield3.png")
            +e.desc--left(href="product.html")
              span ArmorLine
              b Gloss
          +e.LI.item
      +e.right
        +e.H3.subtitle--right Полимочевина
        +e.UL.list--right.list-reset
          +e.LI.item--right
            +e.icon
              img(src="img/content/icon-shield4.png")
            +e.desc--right(href="product.html")
              span ArmorLine
              b Strong
          +e.LI.item--right
            +e.icon
              img(src="img/content/icon-shield5.png")
            +e.desc--right(href="product.html")
              span ArmorLine
              b Elastic
          +e.LI.item--right
            +e.icon
              img(src="img/content/icon-shield6.png")
            +e.desc--right(href="product.html")
              span ArmorLine
              b U-Strong
          +e.LI.item
