+b.SECTION.home-production.container
  +e.H2.title Продукция
  +e.img
    img(src="img/content/bg-home-crocodile.jpg")
  +e.wrapper
    +e.btn.btn.btn-reset Перейти в каталог
    +e.slogan Для господства в воде и на суше!
