+b.about
  +b.bread--about
    +e.UL.list.list-reset
      +e.LI.item
        +e.link(href="#") Главная
      +e.LI.item
        +e.SPAN.link О компании
  +b.H2.page-title--about О компании
  +e.img
    img(src="img/content/bg-about-car.png")
  +e.txt
    p Официальный представитель в России итальяноской компании Armor Profi Co., производителя защитных покрытий ArmorLine.
    p История компании «Armor Profi Co.» начинается в 2013 году, когда на одном из крупнейших заводов Италии, специализируещемся на производитве покрытий для морской отрасли, началась разработка и испытания линейки покрытий, предназначенных для отрасли автомобилестроения.
    p Основная особенность защитных покрытий  ArmorLine -  высокие показатели по стойкости к абразивному износу, ударам и естественному старению.
    p В январе 2015 года между компанией «Armor Profi Rus» и итальянским концерном подписано.
