+b.modal.js-modal-2
  +e.overlay.js-modal-overlay
  +e.content
    +e.BUTTON.btn-close.btn-reset.js-modal-close
    +e.H3.title Спасибо
    +e.text Ваше сообщение успешно отправлено
    +e.BUTTON.btn.btn.btn-reset.js-modal-submit Отправить
